.github-popup{
	height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    background-color: rgba(0,0,0,0.8);
}
.github-popup .wrapper{
	max-height: 700px;
  height: 100%;
  max-width: 300px;
  width: 100%;
	padding: 20px;
	background-color: white;
	position: absolute;
	bottom: 0;
	right: 0;
}
#github-popup-view-1{
	height: 80%;
}
#github-popup-view-2{
	height: 100%;
	display: none;
}
.github-popup .wrapper h1{
	text-align: center;
}
.github-popup .wrapper #github-popup-view-1 ul{
	margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll;
}
.github-popup .wrapper #github-popup-view-1 li{
	width: 100%;
	display: flex;
	padding: 10px;
    cursor: pointer;
}
.github-popup .wrapper #github-popup-view-1 li:hover{
	background-color: #cccccc;
	color: white;
}
.github-popup .wrapper #github-popup-view-1 ul li p{
	margin: 0;
}
.github-popup .wrapper #github-popup-view-1 ul li p:first-child{
	width: 30%;
}
.github-popup .wrapper #github-popup-view-1 ul li p:last-child{
	width: 70%;
}
.github-popup .wrapper #github-popup-view-2 .github-company{
	display: flex;
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
}
.github-popup .wrapper #github-popup-view-2 .github-company p{
	margin-bottom: 5px;
}
.github-popup .wrapper #github-popup-view-2 .github-company p:first-child{
	width: 40%;
}
.github-popup .wrapper #github-popup-view-2 .github-company p:last-child{
	width: 60%;
}

.github-popup .wrapper #github-popup-view-2 .github-stats{
	display: flex;
	flex-wrap: wrap;
}
.github-popup .wrapper #github-popup-view-2 .github-stats h2{
	width: 100%;
	text-align: center;
}
.github-popup .wrapper #github-popup-view-2 .github-stats p{
	width: 100%;
}
.github-popup .wrapper #github-popup-view-2 .github-popup-back{
	width: 100%;
}
.github-popup .exit_popup{
  position: absolute;
  top: 10px;
  left: 10px;
}
.github-popup .exit_popup button{
  height: auto;
  line-height: 0px;
  padding: 10px 5px;
  margin: 0;
}

/* SPINNER START */

.github-popup .spinner {
  	width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
}

.github-popup .spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.github-popup .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.github-popup .spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.github-popup .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.github-popup .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* SPINNER END */